<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @feature_banner.name %>
</p>
<p>
  <b>Description:</b>
  <%= @feature_banner.description %>
</p>
<p>
  <b>Image:</b>
  <%= @feature_banner.image %>
</p>
<p>
  <b>Link:</b>
  <%= @feature_banner.link %>
</p>

<%= link_to 'Edit', edit_feature_banner_path(@feature_banner) %>
|
<%= link_to 'Back', feature_banners_path %>

