<div class="dash">
  <%= render "dashboards/header",
        title: @page_heading.presence || "Add new track",
        eyebrow: "Music & entertainment",
        subtitle: @number_of_tracks == "multiple" ? "Upload one or more audio files to this album." : "Upload a single track with cover art.",
        primary_path: admin_all_music_path,
        primary_label: "All Music",
        primary_icon: "fas fa-list",
        user: current_user %>

  <%= render layout: "dashboards/panel", locals: { title: "Track details", padded: true } do %>
    <%= form_for @track, html: { multipart: true, class: "dash-form" } do |f| %>
      <%= render "shared/errors", object: @track %>

      <div class="row g-3">
        <div class="col-md-6">
          <%= f.label :title, "Track title", class: "form-label" %>
          <%= f.text_field :title, class: "form-control", required: true, placeholder: "Track title" %>
        </div>
        <div class="col-md-6">
          <%= f.label :artist_name, "Artist name", class: "form-label" %>
          <%= f.text_field :artist_name, class: "form-control", required: true, placeholder: "Artist name" %>
        </div>
        <div class="col-12">
          <%= f.label :category, "Category", class: "form-label" %>
          <%= f.select :category,
                [["Select category", ""], ["RCV Playlist", "rcv_playlist"], ["Albums / Mixtapes", "albums_mixtapes"]],
                {},
                { class: "form-select" } %>
        </div>

        <% if @number_of_tracks == "single" %>
          <div class="col-md-6">
            <%= f.label :image, "Cover image", class: "form-label" %>
            <label class="dash-upload">
              <span class="dash-upload__icon"><i class="fas fa-image"></i></span>
              <span class="dash-upload__text">Drop cover or click to browse</span>
              <span class="dash-upload__hint">JPG or PNG</span>
              <%= f.file_field :image, class: "dash-upload__input", required: true, accept: "image/*" %>
            </label>
          </div>
          <div class="col-md-6">
            <%= f.label :track, "Audio file", class: "form-label" %>
            <label class="dash-upload">
              <span class="dash-upload__icon"><i class="fas fa-file-audio"></i></span>
              <span class="dash-upload__text">Drop audio or click to browse</span>
              <span class="dash-upload__hint">MP3, WAV, or similar</span>
              <%= f.file_field :track, class: "dash-upload__input", required: true, accept: "audio/*" %>
            </label>
          </div>
        <% else %>
          <%= f.hidden_field :album_id %>
          <div class="col-12">
            <%= f.label :tracks, "Audio files", class: "form-label" %>
            <label class="dash-upload">
              <span class="dash-upload__icon"><i class="fas fa-file-audio"></i></span>
              <span class="dash-upload__text">Select one or more audio files</span>
              <span class="dash-upload__hint">You can upload multiple tracks at once</span>
              <%= f.file_field :tracks, class: "dash-upload__input", required: true, multiple: true, accept: "audio/*" %>
            </label>
          </div>
        <% end %>
      </div>

      <div class="dash-form__actions">
        <%= link_to "Cancel", admin_all_music_path, class: "btn-dash-outline" %>
        <%= f.submit @number_of_tracks == "multiple" ? "Upload Tracks" : "Save Track", class: "btn-dash" %>
      </div>
    <% end %>
  <% end %>
</div>
