%script{:src => "/scripts/masonry.pkgd.min.js", :type => "text/javascript"}
%script{:src => "/scripts/isotope.pkgd.min.js", :type => "text/javascript"}
%script{:src => "/scripts/isotope.init.js", :type => "text/javascript"}
.container
  / start news tabs
  #gallery
    / banner
    .row
      .col-sm-12.banner
        %img.img-responsive{:alt => "image", :src => "http://www.redvillage.co.za/uploads/main_banner/image/21/RCV_7STARS_scampD.jpg"}
    / banner end
    / start services
    .row
      .col-sm-9.services
        .row
          .col-sm-12#gallery-content
            .grid
              - if defined?(@artists_model)
                - for artist in @artists_model
                  .grid-item.grid-sizer.col-sm-4.servicebox.rcv_playlist
                    .servicebox-image
                      %a.vid-item.pretty-photo{"data-gal" => "prettyPhoto[gallery-photo-thumb]", :href => "artists/#{artist.id}?#{artist.name}"}
                        %img{:alt => "#{artist.name}", :src => "#{artist.profile_picture_url(:thumb)}"}
                    .servicebox-inner
                      %p
                        #{artist.name}
              
              - if defined?(@user_artists) && @user_artists.any?
                - for user_artist in @user_artists
                  - if user_artist.profile.present?
                    .grid-item.grid-sizer.col-sm-4.servicebox.rcv_playlist
                      .servicebox-image
                        %a.vid-item.pretty-photo{href: profile_path(user_artist.profile)}
                          - if user_artist.profile.profile_picture_url.present?
                            %img{:alt => "#{user_artist.name}", :src => "#{user_artist.profile.profile_picture_url(:thumb)}"}
                          - else
                            %img{:alt => "#{user_artist.name}", :src => "new_look/assets/img/default-avatar.jpg"}
                      .servicebox-inner
                        %p
                          #{user_artist.name}
                          %small.d-block.text-muted= user_artist.role.titleize


        / Adverts
      .col-sm-3
        .side-adverts
          %ul.advert-image
            %li
              %img.img-responsive{:alt => "image", :src => "http://www.redvillage.co.za/uploads/main_banner/image/20/davincii_cropped.jpg"}
            %li
              %img.img-responsive{:alt => "image", :src => "http://www.redvillage.co.za/uploads/main_banner/image/16/COUSIN_JMF_do_it_like_boss_banner_redcup.jpg"}
        / Adverts
      .col-sm-3
        .side-adverts
          %ul.advert-image
            %li
              %img.img-responsive{:alt => "image", :src => "http://www.redvillage.co.za/uploads/main_banner/image/20/davincii_cropped.jpg"}
            %li
              %img.img-responsive{:alt => "image", :src => "http://www.redvillage.co.za/uploads/main_banner/image/16/COUSIN_JMF_do_it_like_boss_banner_redcup.jpg"}
        / Adverts
      .col-sm-3
        .side-adverts
          %ul.advert-image
            %li
              %img.img-responsive{:alt => "image", :src => "http://www.redvillage.co.za/uploads/main_banner/image/20/davincii_cropped.jpg"}
            %li
              %img.img-responsive{:alt => "image", :src => "http://www.redvillage.co.za/uploads/main_banner/image/16/COUSIN_JMF_do_it_like_boss_banner_redcup.jpg"}

:javascript
  function playSong() {
    document.getElementById("audio_player").src = "https://raw.githubusercontent.com/kolber/audiojs/master/mp3/bensound-dubstep.mp3";
  }
