# breadcrump begin
%div.breadcrump
  .container
    .row
      .col-xl-6.col-lg-6
        = render_breadcrumbs
# breadcrump end

/ videos begin
%div.gallery
  .container
    .row.justify-content-center
      .col-xl-8.col-lg-8
        %div.add-space.section-title.text-center
          %h2 Video Gallery
    .row
      - if @videos.any?
        - @videos.each do |video|
          .col-xl-4.col-lg-4.col-sm-6.mb-4
            .single-img
              - if video.uid.present?
                = image_tag "https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg", alt: video.title
              - else
                = image_tag 'new_look/gallery-1.jpg', alt: 'Video'
              .hover-effect
                %a{href: video.link.present? ? video.link : "#", target: "_blank"}
                  %i.far.fa-play
              %h5.mt-2= video.title
      - else
        .col-xl-12
          %p.text-center.text-muted No videos available yet.
/ videos end

