<div id="services">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>

<div class="container">
  <h1>Edit Event</h1>
  <%= form_for @event, html: { class: "form-horizontal", multipart: true } do |f| %>
    <%= render 'shared/errors', object: @event %>
    
    <div class="form-group">
      <%= f.label :name, class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: 'form-control', required: true %>
        <span class="help-block">Event name.</span>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :image, class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <% if @event.image %>
          <% img_url = shrine_image_url(@event, :image, :thumbnail) || shrine_image_url(@event, :image) %>
          <% if img_url %>
            <div class="mb-3">
              <img class="img-responsive" src="<%= img_url %>" alt="<%= @event.name %>" style="max-width: 300px; margin-bottom: 10px;">
            </div>
          <% end %>
        <% end %>
        <%= f.hidden_field :image, value: @event.image_data %>
        <%= f.file_field :image %>
        <span class="help-block">Event Poster. Leave empty to keep current image.</span>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :summary, class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.text_area :summary, class: 'form-control', required: true %>
        <span class="help-block">Event headlines.</span>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :date, class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.date_field :date, class: 'form-control', required: true %>
        <span class="help-block">Event date.</span>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :start_time, class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.time_field :start_time, class: 'form-control', required: true %>
        <span class="help-block">Event start time.</span>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :venue, class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.text_field :venue, class: 'form-control', required: true %>
        <span class="help-block">Event venue.</span>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :featured, class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <div class="checkbox">
          <label>
            <%= f.check_box :featured %> Mark as featured event
          </label>
        </div>
        <span class="help-block">Featured events will be displayed on the featured events page.</span>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>

