<div class="dash">
  <%= render "dashboards/header",
        title: "New Album",
        eyebrow: "Music & entertainment",
        subtitle: "Create an album or mixtape, then add tracks.",
        primary_path: admin_album_index_path,
        primary_label: "All Albums",
        primary_icon: "fas fa-list",
        user: current_user %>

  <%= render layout: "dashboards/panel", locals: { title: "Album details", padded: true } do %>
    <%= form_for @album, html: { multipart: true, class: "dash-form" } do |f| %>
      <%= render "shared/errors", object: @album %>

      <div class="row g-3">
        <div class="col-md-6">
          <%= f.label :name, "Album name", class: "form-label" %>
          <%= f.text_field :name, class: "form-control", required: true, placeholder: "e.g. Midnight Sessions" %>
        </div>
        <div class="col-md-6">
          <%= f.label :artist_name, "Artist name", class: "form-label" %>
          <%= f.text_field :artist_name, class: "form-control", required: true, placeholder: "Primary artist" %>
        </div>
        <div class="col-12">
          <%= f.label :image, "Cover image", class: "form-label" %>
          <label class="dash-upload">
            <span class="dash-upload__icon"><i class="fas fa-image"></i></span>
            <span class="dash-upload__text">Drop cover image or click to browse</span>
            <span class="dash-upload__hint">JPG or PNG · square works best</span>
            <%= f.file_field :image, class: "dash-upload__input", required: true, accept: "image/*" %>
          </label>
        </div>
      </div>

      <div class="dash-form__actions">
        <%= link_to "Cancel", admin_album_index_path, class: "btn-dash-outline" %>
        <%= f.submit "Create Album", class: "btn-dash" %>
      </div>
    <% end %>
  <% end %>
</div>
