.container-fluid.mt-4
  - if defined?(impersonating?) && impersonating?
    .alert.alert-warning.alert-dismissible.fade.show
      %strong Impersonating:
      = current_user.name
      (#{current_user.role})
      = button_to "Stop Impersonating", stop_impersonating_path, method: :delete, class: "btn btn-sm btn-outline-danger ms-2"
      %button.btn-close{type: "button", "data-bs-dismiss": "alert", "aria-label": "Close"}

  .row.mb-4
    .col-md-12
      %h1.mb-4 Admin Dashboard
      %p Welcome to the Red Cup Village Admin Panel
      - if defined?(impersonating?) && impersonating? && original_user
        %small.text-muted
          Logged in as: #{original_user.name} (Admin)
          - if impersonating?
            |  | Impersonating: #{current_user.name}

  .row.mb-4
    .col-md-12
      %h5.mb-3 User Statistics
  .row.mb-4
    .col-md-2
      .card.text-center
        .card-body
          %h5.card-title Total Users
          %h2= @stats[:total_users]
          %a.btn.btn-primary.btn-sm{href: users_path} Manage
    .col-md-2
      .card.text-center
        .card-body
          %h5.card-title DJs
          %h2= @stats[:djs]
          %small.text-muted= pluralize(@stats[:djs], 'DJ')
    .col-md-2
      .card.text-center
        .card-body
          %h5.card-title Artists
          %h2= @stats[:artists]
          %small.text-muted= pluralize(@stats[:artists], 'Artist')
    .col-md-2
      .card.text-center
        .card-body
          %h5.card-title Photographers
          %h2= @stats[:photographers]
          %small.text-muted= pluralize(@stats[:photographers], 'Photographer')
    .col-md-2
      .card.text-center
        .card-body
          %h5.card-title Videographers
          %h2= @stats[:videographers]
          %small.text-muted= pluralize(@stats[:videographers], 'Videographer')
    .col-md-2
      .card.text-center
        .card-body
          %h5.card-title Members
          %h2= @stats[:members]
          %small.text-muted= pluralize(@stats[:members], 'Member')
  .row.mb-4
    .col-md-3
      .card.text-center
        .card-body
          %h5.card-title Curators
          %h2= @stats[:curators]
          %small.text-muted= pluralize(@stats[:curators], 'Curator')
    .col-md-3
      .card.text-center
        .card-body
          %h5.card-title Designers
          %h2= @stats[:designers]
          %small.text-muted= pluralize(@stats[:designers], 'Designer')
    .col-md-3
      .card.text-center
        .card-body
          %h5.card-title Editors
          %h2= @stats[:editors]
          %small.text-muted= pluralize(@stats[:editors], 'Editor')
    .col-md-3
      .card.text-center
        .card-body
          %h5.card-title Content Creators
          %h2= @stats[:djs] + @stats[:artists] + @stats[:photographers] + @stats[:videographers] + @stats[:curators] + @stats[:designers] + @stats[:editors]
          %small.text-muted Total creators

  .row.mb-4
    .col-md-3
      .card.text-center
        .card-body
          %h5.card-title Galleries
          %h2= @stats[:galleries_count]
          %a.btn.btn-primary.btn-sm{href: galleries_path} Manage
    .col-md-3
      .card.text-center
        .card-body
          %h5.card-title News Articles
          %h2= @stats[:features_count]
          %a.btn.btn-primary.btn-sm{href: '/admin_index'} Manage
    .col-md-3
      .card.text-center
        .card-body
          %h5.card-title Videos
          %h2= @stats[:videos_count]
          %a.btn.btn-primary.btn-sm{href: all_videos_path} Manage
    .col-md-3
      .card.text-center
        .card-body
          %h5.card-title Music Tracks
          %h2= @stats[:tracks_count]
          %a.btn.btn-primary.btn-sm{href: '/admin_all_music'} Manage

  .row.mb-4
    .col-md-3
      .card.text-center
        .card-body
          %h5.card-title Albums
          %h2= @stats[:albums_count]
          %a.btn.btn-primary.btn-sm{href: '/admin_album_index'} Manage
    .col-md-3
      .card.text-center
        .card-body
          %h5.card-title Artists
          %h2= @stats[:artists_count]
          %a.btn.btn-primary.btn-sm{href: '/admin_artist_index'} Manage
    .col-md-3
      .card.text-center
        .card-body
          %h5.card-title Lifestyle
          %h2= @stats[:lifestyles_count]
          %a.btn.btn-primary.btn-sm{href: '/lifestyle_admin_index'} Manage
    .col-md-3
      .card.text-center
        .card-body
          %h5.card-title Events
          %h2= @stats[:events_count]
          %a.btn.btn-primary.btn-sm{href: admin_all_events_path} Manage
    .col-md-3
      .card.text-center
        .card-body
          %h5.card-title Banners
          %h2= @stats[:banners_count]
          %a.btn.btn-primary.btn-sm{href: banners_index_path} Manage

  .row
    .col-md-4
      .card
        .card-header Recent Users
        .card-body
          - if @stats[:recent_users].any?
            %ul.list-group.list-group-flush
              - @stats[:recent_users].each do |user|
                %li.list-group-item
                  = link_to user.name, user_path(user)
                  %span.badge{class: "bg-#{user.admin? ? 'danger' : user.dj? ? 'info' : user.artist? ? 'success' : 'secondary'}"}
                    = user.role.titleize
                  %small.text-muted.d-block= time_ago_in_words(user.created_at) + " ago"
                  - if user_signed_in? && current_user.admin? && user != current_user
                    = button_to "Impersonate", impersonate_path(user), method: :post, class: "btn btn-sm btn-outline-primary mt-1"
          - else
            %p.text-muted No users yet.

    .col-md-4
      .card
        .card-header Recent Galleries
        .card-body
          - if @recent_galleries.any?
            %ul.list-group.list-group-flush
              - @recent_galleries.each do |gallery|
                %li.list-group-item
                  = link_to gallery.name, gallery_path(gallery)
                  %small.text-muted.d-block= time_ago_in_words(gallery.created_at) + " ago"
          - else
            %p.text-muted No galleries yet.

    .col-md-4
      .card
        .card-header Recent News
        .card-body
          - if @recent_features.any?
            %ul.list-group.list-group-flush
              - @recent_features.each do |feature|
                %li.list-group-item
                  = link_to feature.heading, feature_path(feature)
                  %small.text-muted.d-block= time_ago_in_words(feature.created_at) + " ago"
          - else
            %p.text-muted No news articles yet.

  .row.mt-4
    .col-md-6
      .card
        .card-header Recent Tracks
        .card-body
          - if @recent_tracks.any?
            %ul.list-group.list-group-flush
              - @recent_tracks.each do |track|
                %li.list-group-item
                  = link_to track.title, track_path(track)
                  %small.text-muted.d-block= time_ago_in_words(track.created_at) + " ago"
          - else
            %p.text-muted No tracks yet.

    .col-md-6
      .card
        .card-header Recent Events
        .card-body
          - if @recent_events.any?
            %ul.list-group.list-group-flush
              - @recent_events.each do |event|
                %li.list-group-item
                  = link_to event.name, event_path(event)
                  %small.text-muted.d-block
                    = event.date.strftime("%B %d, %Y") if event.date
                    = " - " + time_ago_in_words(event.created_at) + " ago"
          - else
            %p.text-muted No events yet.

