.container-fluid.mt-4
  .row.mb-4
    .col-md-12
      %h1.mb-4 Designer Dashboard
      %p Welcome back, #{@user.name}!
      %p.text-muted Manage banners and visual design assets.
      = render 'shared/profile_quick_links', user: @user

  .row.mb-4
    .col-md-3
      .card.text-center
        .card-body
          %h5.card-title Total Banners
          %h2= @stats[:total_banners]
    .col-md-3
      .card.text-center
        .card-body
          %h5.card-title My Banners
          %h2= @stats[:my_banners]
    .col-md-3
      .card.text-center
        .card-body
          %h5.card-title Active Banners
          %h2= @stats[:active_banners]
    .col-md-3
      .card.text-center
        .card-body
          %h5.card-title Quick Actions
          = link_to "Create Banner", new_banner_upload_path, class: "btn btn-primary btn-sm w-100 mb-2"
          = link_to "View All Banners", banners_index_path, class: "btn btn-outline-primary btn-sm w-100"

  .row.mb-4
    .col-md-12
      .card
        .card-header.d-flex.justify-content-between.align-items-center
          %h5.mb-0 My Banners
          = link_to "Create New Banner", new_banner_upload_path, class: "btn btn-primary btn-sm"
        .card-body
          - if @banners.any?
            .table-responsive
              %table.table.table-hover
                %thead
                  %tr
                    %th Banner Name
                    %th Page
                    %th Created
                    %th Actions
                %tbody
                  - @banners.each do |banner|
                    %tr
                      %td= banner.name || "Untitled Banner"
                      %td
                        - if banner.page.present?
                          %span.badge.bg-info= banner.page
                        - else
                          %span.text-muted N/A
                      %td= time_ago_in_words(banner.created_at) + " ago"
                      %td
                        = link_to "View", main_banner_path(banner), class: "btn btn-sm btn-primary me-1"
                        = link_to "Edit", edit_main_banner_path(banner), class: "btn btn-sm btn-outline-secondary"
          - else
            %p.text-muted No banners created yet.
            = link_to "Create Your First Banner", new_banner_upload_path, class: "btn btn-primary"

  .row.mb-4
    .col-md-12
      .card
        .card-header
          %h5.mb-0 Recent Banners
        .card-body
          - if @recent_banners.any?
            %ul.list-group.list-group-flush
              - @recent_banners.each do |banner|
                %li.list-group-item
                  = link_to banner.name || "Untitled Banner", main_banner_path(banner), class: "fw-bold"
                  %small.text-muted.d-block
                    - if banner.page.present?
                      = "Page: #{banner.page} - "
                    = time_ago_in_words(banner.created_at) + " ago"
          - else
            %p.text-muted No banners available.

