.container-fluid.mt-4
  .row.mb-4
    .col-md-12
      %h1.mb-4 DJ Dashboard
      %p Welcome back, #{@user.name}!
      %p.text-muted Manage your events, view schedules, and browse music tracks.
      = render 'shared/profile_quick_links', user: @user

  .row.mb-4
    .col-md-12
      .card
        .card-header
          %h5.mb-0 Upcoming Events
        .card-body
          - if @upcoming_events.any?
            .table-responsive
              %table.table.table-hover
                %thead
                  %tr
                    %th Event Name
                    %th Date
                    %th Venue
                    %th Actions
                %tbody
                  - @upcoming_events.each do |event|
                    %tr
                      %td= event.name
                      %td= event.date ? event.date.strftime("%B %d, %Y") : "TBD"
                      %td= event.venue || "TBD"
                      %td
                        = link_to "View", event_path(event), class: "btn btn-sm btn-primary"
          - else
            %p.text-muted No upcoming events scheduled.

  .row.mb-4
    .col-md-6
      .card
        .card-header
          %h5.mb-0 Recent Events
        .card-body
          - if @events.any?
            %ul.list-group.list-group-flush
              - @events.first(5).each do |event|
                %li.list-group-item
                  = link_to event.name, event_path(event), class: "fw-bold"
                  %small.text-muted.d-block
                    = event.date ? event.date.strftime("%B %d, %Y") : "Date TBD"
                    - if event.venue.present?
                      = " - #{event.venue}"
          - else
            %p.text-muted No events available.

    .col-md-6
      .card
        .card-header
          %h5.mb-0 Quick Actions
        .card-body
          %ul.list-group.list-group-flush
            %li.list-group-item
              = link_to "View All Events", events_path, class: "btn btn-primary w-100 mb-2"
            %li.list-group-item
              = link_to "Browse Music Tracks", tracks_path, class: "btn btn-outline-primary w-100 mb-2"
            %li.list-group-item
              = link_to "View Albums", albums_path, class: "btn btn-outline-primary w-100 mb-2"
            %li.list-group-item
              = link_to "View Artists", artists_path, class: "btn btn-outline-primary w-100"

  .row.mb-4
    .col-md-12
      .card
        .card-header
          %h5.mb-0 Available Music Tracks
        .card-body
          - if @tracks.any?
            .table-responsive
              %table.table.table-hover
                %thead
                  %tr
                    %th Track Title
                    %th Artist
                    %th Album
                    %th Actions
                %tbody
                  - @tracks.each do |track|
                    %tr
                      %td= track.title
                      %td= track.artist_name || "Unknown"
                      %td= track.album&.name || "N/A"
                      %td
                        = link_to "View", track_path(track), class: "btn btn-sm btn-primary"
          - else
            %p.text-muted No tracks available.

