.container-fluid.mt-4
  .row.mb-4
    .col-md-12
      %h1.mb-4 Photographer Dashboard
      %p Welcome back, #{@user.name}!
      %p.text-muted Manage your galleries and images.
      = render 'shared/profile_quick_links', user: @user

  .row.mb-4
    .col-md-3
      .card.text-center
        .card-body
          %h5.card-title Total Galleries
          %h2= @stats[:total_galleries]
    .col-md-3
      .card.text-center
        .card-body
          %h5.card-title My Galleries
          %h2= @stats[:my_galleries]
    .col-md-3
      .card.text-center
        .card-body
          %h5.card-title Total Images
          %h2= @stats[:total_images]
    .col-md-3
      .card.text-center
        .card-body
          %h5.card-title Quick Actions
          = link_to "Create Gallery", new_gallery_path, class: "btn btn-primary btn-sm w-100 mb-2"
          = link_to "View All Galleries", galleries_path, class: "btn btn-outline-primary btn-sm w-100"

  .row.mb-4
    .col-md-12
      .card
        .card-header.d-flex.justify-content-between.align-items-center
          %h5.mb-0 My Galleries
          = link_to "Create New Gallery", new_gallery_path, class: "btn btn-primary btn-sm"
        .card-body
          - if @galleries.any?
            .table-responsive
              %table.table.table-hover
                %thead
                  %tr
                    %th Gallery Name
                    %th Category
                    %th Created
                    %th Actions
                %tbody
                  - @galleries.each do |gallery|
                    %tr
                      %td= gallery.name
                      %td
                        - if gallery.category.present?
                          %span.badge.bg-secondary= gallery.category
                      %td= time_ago_in_words(gallery.created_at) + " ago"
                      %td
                        = link_to "View", gallery_path(gallery), class: "btn btn-sm btn-primary me-1"
                        = link_to "Edit", edit_gallery_path(gallery), class: "btn btn-sm btn-outline-secondary"
          - else
            %p.text-muted No galleries created yet.
            = link_to "Create Your First Gallery", new_gallery_path, class: "btn btn-primary"

  .row.mb-4
    .col-md-12
      .card
        .card-header
          %h5.mb-0 Recent Galleries
        .card-body
          - if @recent_galleries.any?
            %ul.list-group.list-group-flush
              - @recent_galleries.each do |gallery|
                %li.list-group-item
                  = link_to gallery.name, gallery_path(gallery), class: "fw-bold"
                  %small.text-muted.d-block= time_ago_in_words(gallery.created_at) + " ago"
          - else
            %p.text-muted No galleries available.

