<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Red Cup Village - Admin</title>

    <!-- favicon -->
    <%= favicon_link_tag 'favicon.ico' %>

    <!-- Admin Styles -->
    <%= stylesheet_link_tag 'admin/admin-styles', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
</head>
  <body class="<%= devise_controller? ? 'auth-page' : '' %>" id="wrapper" data-spy="scroll" data-target="#bs-example-navbar-collapse-1">
    <div id="loader">
      <div class="loader"></div>
    </div>
    
    <% unless devise_controller? %>
      <header>
        <%= render 'admins/navbar' %>
      </header>
    <% end %>
    
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert <%= name == 'notice' ? 'alert-success' : 'alert-danger' %> alert-dismissible fade show m-3" role="alert">
          <%= msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    <% end %>
    
    <% if devise_controller? %>
      <div class="auth-container">
        <div class="auth-brand text-center mb-4">
          <%= image_tag "logo.png", alt: "Red Cup Village", class: "auth-logo img-fluid" %>
        </div>
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
    
    <% unless devise_controller? %>
      <%= render 'admins/footer_button' %>
    <% end %>

    <!-- Admin JavaScripts -->
  </body>
</html> 