<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Red Cup Village - Admin</title>

    <!-- favicon -->
    <%= favicon_link_tag 'favicon.ico' %>

    <!-- Admin Styles -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'admin/admin-styles', media: 'all' %>

    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
    <!-- Bootstrap 5 JS bundle (for collapse/dropdowns) -->
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js',
          integrity: 'sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz',
          crossorigin: 'anonymous',
          defer: true %>
</head>
  <body class="<%= devise_controller? ? 'auth-page' : 'admin-body' %>" id="wrapper">
    <div id="loader">
      <div class="loader"></div>
    </div>
    
    <% unless devise_controller? %>
      <% if user_signed_in? && current_user.can_access_backend? %>
        <%= render 'shared/impersonation_banner' %>
        <header>
          <%= render 'shared/role_navbar' %>
        </header>
      <% else %>
        <header>
          <%= render 'admins/navbar' %>
        </header>
      <% end %>
    <% end %>
    
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert <%= name == 'notice' ? 'alert-success' : 'alert-danger' %> alert-dismissible fade show m-3" role="alert">
          <%= msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    <% end %>
    
    <% if devise_controller? %>
      <div class="auth-container">
        <div class="auth-brand text-center mb-4">
          <%= image_tag "logo.png", alt: "Red Cup Village", class: "auth-logo img-fluid" %>
        </div>
        <%= yield %>
      </div>
    <% else %>
      <main class="admin-main-content">
        <%= yield %>
      </main>
    <% end %>
    
    <% unless devise_controller? %>
      <%= render 'admins/footer_button' %>
    <% end %>

    <!-- Admin JavaScripts -->
  </body>
</html> 